<?xml version="1.0" ?>
<model>
  <name>milk_cup</name>
  <version>1.11</version>
  <author>
    <name>yjphhw</name>
    <email>yjphhw@qq.com</email>
  </author>
  <description>This model is made by Blender SDF Exporter Extention!
This model is created by sdf-export-plugin.
The plugin home is: sdfexportplugin.yjphhw.github.com.</description>
  <sdf version="1.11">model.sdf</sdf>
</model>