<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
    <xacro:property name="PI" value="3.14159274"/>

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find panda_description)/urdf/panda.urdf" />
    <!-- <xacro:include filename="$(find moveit2_description)/urdf/camera/camera.xacro"/> -->

    <!-- Camera -->
    <!-- <xacro:camera_v0 parent="panda_link0">
	    <origin xyz="0.2 0.6 0.7" rpy="0 ${PI/2} 0"/>
    </xacro:camera_v0>
    <xacro:camera_gazebo_v0/> -->

    <!-- controllers for gazebo -->
    <xacro:include filename="panda.gazebo_ros2_control.xacro" />
    <xacro:panda_gazebo_ros2_control initial_positions_file="$(arg initial_positions_file)"/>
    <gazebo>
        <plugin
        filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find panda_controller)/config/ros2_controllers.yaml</parameters>
    </plugin>
    </gazebo>
   
</robot>